<ul id="sidebar no-select">
  <li data-bs-toggle="collapse" data-bs-target="#wk0" class="selectable p-2 text-success lighten-30 rounded">
    Student Resources
    
      <ul class="collapse nav flex-column" id="wk0"></ul>
    
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk1" class="selectable p-2 text-success lighten-30 rounded">Building Blocks of Web
    Development
    
      <ul class="collapse nav flex-column" id="wk1"></ul>
    
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk2" class="selectable p-2 text-success lighten-30 rounded">Intro to Js
    
      <ul class="collapse nav flex-column" id="wk2"></ul>
    
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk3" class="selectable p-2 text-success lighten-30 rounded">Advancing with JS
    
      <ul class="collapse nav flex-column" id="wk3"></ul>
    
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk4" class="selectable p-2 text-success lighten-30 rounded">Asynchronous Code
    
      <ul class="collapse nav flex-column" id="wk4"></ul>
    
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk5" class="selectable p-2 text-success lighten-30 rounded">Servers with Node/Express
    
      <ul class="collapse nav flex-column" id="wk5"></ul>
    
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk6" class="selectable p-2 text-success lighten-30 rounded">Frontend Frameworks with
    Vue3
    
      <ul class="collapse nav flex-column" id="wk6"></ul>
    
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk7" class="selectable p-2 text-success lighten-30 rounded">Advancing with Vue3
    
      <ul class="collapse nav flex-column" id="wk7"></ul>
    
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk8-9" class="selectable p-2 text-success lighten-30 rounded">Professional
    Environments
    
      <ul class="collapse nav flex-column" id="wk8-9"></ul>
    
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk10" class="selectable p-2 text-success lighten-30 rounded">Foundations of CSharp
    
      <ul class="collapse nav flex-column" id="wk10"></ul>
    
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk11" class="selectable p-2 text-success lighten-30 rounded">Dotnet WebApi's
    
      <ul class="collapse nav flex-column" id="wk11"></ul>
    
  </li>
</ul>