<ul class="sidebar bg-dark w-100" id="sidebar">
  <li class="selectable p-2 text-dark rounded">
    Student Resources
    <div class="collapse" id="wk0">
      <ul class="nav flex-column"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk1" class="selectable p-2 text-dark rounded">Building Blocks of Web Development
    <div class="collapse" id="wk1">
      <ul class="nav flex-column"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk2" class="selectable p-2 text-dark rounded">Intro to Js
    <div class="collapse" id="wk2">
      <ul class="nav flex-column"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk3" class="selectable p-2 text-dark rounded">Advancing with JS
    <div class="collapse" id="wk3">
      <ul class="nav flex-column"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk4" class="selectable p-2 text-dark rounded">Asynchronous Code
    <div class="collapse" id="wk4">
      <ul class="nav flex-column"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk5" class="selectable p-2 text-dark rounded">Servers with Node/Express
    <div class="collapse" id="wk5">
      <ul class="nav flex-column"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk6" class="selectable p-2 text-dark rounded">Frontend Frameworks with Vue3
    <div class="collapse" id="wk6">
      <ul class="nav flex-column"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk7" class="selectable p-2 text-dark rounded">Advancing with Vue3
    <div class="collapse" id="wk7">
      <ul class="nav flex-column"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk8-9" class="selectable p-2 text-dark rounded">Professional Environments
    <div class="collapse" id="wk8-9">
      <ul class="nav flex-column"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk10" class="selectable p-2 text-dark rounded">Foundations of CSharp
    <div class="collapse" id="wk10">
      <ul class="nav flex-column"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#wk11" class="selectable p-2 text-dark rounded">Dotnet WebApi's
    <div class="collapse" id="wk11">
      <ul class="nav flex-column"></ul>
    </div>
  </li>
</ul>