<ul>
  <li data-bs-toggle="collapse" data-bs-target="#c-wk0" class="selectable p-2 text-light rounded">
    <span class="no-select">Student Resources</span>
    <div class="collapse" id="c-wk0">
      <ul class="nav flex-column" id="wk0"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#c-wk1" class="selectable p-2 text-light rounded">
    <span class="no-select">Building Blocks of Web Dev</span>
    <div class="collapse" id="c-wk1">
      <ul class="nav flex-column" id="wk1"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#c-wk2" class="selectable p-2 text-light rounded">
    <span class="no-select">JS Intro</span>
    <div class="collapse" id="c-wk2">
      <ul class="nav flex-column" id="wk2"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#c-wk3" class="selectable p-2 text-light rounded">
    <span class="no-select">Advancing with JS</span>
    <div class="collapse" id="c-wk3">
      <ul class="nav flex-column" id="wk3"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#c-wk4" class="selectable p-2 text-light rounded">
    <span class="no-select">Asynchronous Code</span>
    <div class="collapse" id="c-wk4">
      <ul class="nav flex-column" id="wk4"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#c-wk5" class="selectable p-2 text-light rounded">
    <span class="no-select">Servers with Node</span>
    <div class="collapse" id="c-wk5">
      <ul class="nav flex-column" id="wk5"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#c-wk6" class="selectable p-2 text-light rounded">
    <span class="no-select">Vue 3 Intro</span>
    <div class="collapse" id="c-wk6">
      <ul class="nav flex-column" id="wk6"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#c-wk7" class="selectable p-2 text-light rounded">
    <span class="no-select">Advancing Vue 3</span>
    <div class="collapse" id="c-wk7">
      <ul class="nav flex-column" id="wk7"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#c-wk8-9" class="selectable p-2 text-light rounded">
    <span class="no-select">Professional Environments</span>
    <div class="collapse" id="c-wk8-9">
      <ul class="nav flex-column" id="wk8-9"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#c-wk10" class="selectable p-2 text-light rounded">
    <span class="no-select">Foundations of CSharp</span>
    <div class="collapse" id="c-wk10">
      <ul class="nav flex-column" id="wk10"></ul>
    </div>
  </li>
  <li data-bs-toggle="collapse" data-bs-target="#c-wk11" class="selectable p-2 text-light rounded">
    <span class="no-select">Dotnet WebApi's</span>
    <div class="collapse" id="c-wk11">
      <ul class="nav flex-column" id="wk11"></ul>
    </div>
  </li>
</ul>